<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-icon navbar-burger-container">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-icon">
        <a href="/" class="home-link">
            <i class="fas fa-home"></i> 
        </a>
    </div>
    <div class="navbar-icon"> 
        <a class="github-link" href="https://github.com/sevsepetjian" target="__blank">
            <i class="fab fa-github"></i>
        </a>
    </div>
</nav>