<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-icon navbar-burger-container">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-icon">
        <a href="/" class="home-link">
            <div class="image is-32x32">
                <img class="is-rounded" src="/static/assets/astronaut-icon.jpg" alt="An astronaut with a laptop.">
            </div>
        </a>
    </div>
    <div class="navbar-icon"> 
        <a class="github-link" href="https://github.com/sevsepetjian" target="__blank">
            <i class="fab fa-github"></i>
        </a>
    </div>
</nav>